<!--Card content-->
  <div class="px-4 py-4 my-4 text-center">

      <!--Section heading-->
      <h1 class="display-5 fw-bold">Contact Us</h1>
      <!--Section description-->
      <div class="col-lg-6 mx-auto">
        <p class="lead">Do you have any questions? Please do not hesitate to contact
        us directly. Our team will come back to you within
        a matter of hours to help you.</p>
        </div>

      <div class="row justify-content-center align-items-center">
        <!--Grid column-->
        <div class="col-md-3 text-center">
          <ul class="list-unstyled mb-0">
           
            <li> <i class="fa-solid fa-location-dot fa-2x"></i></i>
              <p>Bengaluru, KA 560064, INDIA</p>
            </li>

            <li><i class="fas fa-phone mt-4 fa-2x"></i>
              <p>+ 91 701980</p>
            </li>

            <li><i class="fas fa-envelope mt-4 fa-2x"></i>
              <p>shivaraj165@gmail.com</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->

      </div>

  </div>
